<section class="my-10">
  <h1 class="text-center font-bold text-3xl">
    {{ "resetPassword" | translate }}
  </h1>
  <div class="mx-auto grid gap-y-4">
    <ul class="relative flex flex-row gap-x-2 py-4">
      <li class="flex items-center gap-x-2 shrink basis-0 flex-1 group">
        <div
          class="min-w-7 min-h-7 inline-flex justify-center items-center text-xs align-middle"
        >
          <span
            class="size-7 flex justify-center items-center shrink-0 bg-green-600 border border-gray-200 font-medium text-gray-800 rounded-full dark:bg-green-900 dark:border-neutral-700 dark:text-white"
          >
            1
          </span>
          <span
            class="ms-2 block text-sm font-medium text-gray-800 dark:text-white"
          >
            {{ "steps.verifyEmail" | translate }}
          </span>
        </div>
        <div
          class="w-full h-px flex-1 bg-gray-200 group-last:hidden dark:bg-neutral-700"
          [class]="{
            'bg-green-600': step > 1,
            'dark:bg-green-600': step > 1
          }"
        ></div>
      </li>
      <li class="flex items-center gap-x-2 shrink basis-0 flex-1 group">
        <div
          class="min-w-7 min-h-7 inline-flex justify-center items-center text-xs align-middle"
        >
          <span
            class="size-7 flex justify-center items-center shrink-0 border border-gray-200 font-medium text-gray-800 rounded-full dark:bg-neutral-900 dark:border-neutral-700 dark:text-white"
            [class]="{
              'bg-green-600': step >= 2,
              'dark:bg-green-600': step >= 2
            }"
          >
            2
          </span>
          <span
            class="ms-2 block text-sm font-medium text-gray-800 dark:text-white"
          >
            {{ "steps.verifyCode" | translate }}
          </span>
        </div>
        <div
          class="w-full h-px flex-1 bg-gray-200 group-last:hidden dark:bg-neutral-700"
          [class]="{
            'bg-green-600': step > 2,
            'dark:bg-green-600': step > 2
          }"
        ></div>
      </li>
      <li class="flex items-center gap-x-2 shrink basis-0 flex-1 group">
        <div
          class="min-w-7 min-h-7 inline-flex justify-center items-center text-xs align-middle"
        >
          <span
            class="size-7 flex justify-center items-center shrink-0 border border-gray-200 font-medium text-gray-800 rounded-full dark:bg-neutral-900 dark:border-neutral-700 dark:text-white"
            [class]="{
              'bg-green-600': step == 3,
              'dark:bg-green-600': step == 3
            }"
          >
            3
          </span>
          <span
            class="ms-2 block text-sm font-medium text-gray-800 dark:text-white"
          >
            {{ "steps.resetPassword" | translate }}
          </span>
        </div>
        <div
          class="w-full h-px flex-1 bg-gray-200 group-last:hidden dark:bg-neutral-700"
          [class]="{
            'bg-green-600': step == 3,
            'dark:bg-green-600': step == 3
          }"
        ></div>
      </li>
    </ul>
    <div class="forms">
      @if (step == 1) {
      <form
        class="flex justify-center flex-wrap"
        [formGroup]="verifyEmail"
        (ngSubmit)="submitEmail()"
      >
        <div class="relative w-full sm:w-[85%] mb-3">
          <input
            formControlName="email"
            type="email"
            placeholder="Email"
            class="input input-filled peer"
            id="filledInput"
          />
          <label class="input-filled-label" for="filledInput">{{
            "enterEmail" | translate
          }}</label>
          <span class="input-filled-focused"></span>
        </div>
        <button
          class="btn btn-primary btn-wide"
          [disabled]="verifyEmail.invalid"
        >
          {{ "verifyEmailButton" | translate }}
        </button>
      </form>
      } @if (step == 2) {
      <form
        class="flex justify-center flex-wrap"
        [formGroup]="verifyCode"
        (ngSubmit)="submitCode()"
      >
        <div class="relative w-full sm:w-[85%] mb-3">
          <input
            formControlName="resetCode"
            type="text"
            [placeholder]="'auth.codePlaceholder' | translate"
            class="input input-filled peer"
            id="filledInput"
          />
          <label class="input-filled-label" for="filledInput">{{
            "auth.verifyCode" | translate
          }}</label>
          <span class="input-filled-focused"></span>
        </div>
        <button
          class="btn btn-primary btn-wide"
          [disabled]="verifyCode.invalid"
        >
          {{ "auth.verifyButton" | translate }}
        </button>
      </form>
      } @if (step == 3) {
      <form
        class="flex justify-center flex-wrap"
        [formGroup]="resetPassword"
        (ngSubmit)="setPassword()"
      >
        <div class="relative w-full sm:w-[85%] mb-3">
          <input
            formControlName="email"
            type="email"
            [placeholder]="'auth.emailPlaceholder' | translate"
            class="input input-filled peer"
            id="filledInput"
            readonly
          />
          <label class="input-filled-label" for="filledInput">{{
            "auth.enterEmail" | translate
          }}</label>
          <span class="input-filled-focused"></span>
        </div>
        <div class="input-group w-full sm:w-[85%] mb-3">
          <input
            formControlName="newPassword"
            id="toggle-password"
            type="password"
            class="input focus:outline-none"
            [placeholder]="'auth.passwordPlaceholder' | translate"
          />
          <span class="input-group-text">
            <button
              type="button"
              data-toggle-password='{ "target": "#toggle-password" }'
              class="block"
              aria-label="password toggle"
            >
              <span
                class="icon-[tabler--eye] text-base-content/80 password-active:block hidden size-5 flex-shrink-0"
              ></span>
              <span
                class="icon-[tabler--eye-off] text-base-content/80 password-active:hidden block size-5 flex-shrink-0"
              ></span>
            </button>
          </span>
        </div>
        <button
          class="btn btn-primary btn-wide"
          [disabled]="resetPassword.invalid"
        >
          {{ "auth.resetButton" | translate }}
        </button>
      </form>
      }
    </div>
  </div>
</section>
