<section class="w-1/2 mx-auto border rounded-md shadow-md py-10 px-5 my-10">
  <h1 class="text-2xl text-center font-bold">
    {{ "checkout.title" | translate }}
  </h1>
  <form [formGroup]="checkout">
    <div class="mb-1">
      <label class="label label-text" for="textareaLabel">
        {{ "checkout.details.label" | translate }}
      </label>
      <textarea
        class="textarea"
        [placeholder]="'checkout.details.placeholder' | translate"
        id="textareaLabel"
        formControlName="details"
      ></textarea>
      @if (checkout.get('details')?.errors && checkout.get('details')?.touched)
      {
      <div
        class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
        role="alert"
      >
        <svg
          class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
          />
        </svg>
        <span class="sr-only">Danger</span>
        <div>
          <ul class="mt-1.5 list-disc list-inside">
            <li>{{ detailsErrorMessage }}</li>
          </ul>
        </div>
      </div>
      }
    </div>
    <div class="mb-1">
      <label for="phone" class="label label-text">{{
        "checkout.phone.label" | translate
      }}</label>
      <input
        type="tel"
        [placeholder]="'checkout.phone.placeholder' | translate"
        class="input"
        id="phone"
        formControlName="phone"
      />
      @if (checkout.get('phone')?.errors && checkout.get('phone')?.touched) {
      <div
        class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
        role="alert"
      >
        <svg
          class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
          />
        </svg>
        <span class="sr-only">Danger</span>
        <div>
          <ul class="mt-1.5 list-disc list-inside">
            <li>{{ phoneErrorMessage }}</li>
          </ul>
        </div>
      </div>
      }
    </div>
    <div class="mb-1">
      <label for="city" class="label label-text">{{
        "checkout.city.label" | translate
      }}</label>
      <input
        type="text"
        [placeholder]="'checkout.city.placeholder' | translate"
        class="input"
        id="city"
        formControlName="city"
      />
      @if (checkout.get('city')?.errors && checkout.get('city')?.touched) {
      <div
        class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
        role="alert"
      >
        <svg
          class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
          />
        </svg>
        <span class="sr-only">Danger</span>
        <div>
          <ul class="mt-1.5 list-disc list-inside">
            <li>{{ cityErrorMessage }}</li>
          </ul>
        </div>
      </div>
      }
    </div>
    <div class="flex justify-around mt-6">
      <button
        class="btn btn-outline btn-primary"
        [disabled]="checkout.invalid"
        (click)="payOnline()"
      >
        {{ "checkout.payment.online" | translate }}
      </button>
      <button
        class="btn btn-outline btn-accent"
        [disabled]="checkout.invalid"
        (click)="cash()"
      >
        {{ "checkout.payment.cash" | translate }}
      </button>
    </div>
  </form>
</section>
